/**
 * Container.
 */
 
.background_image-always_grey .content-header {
    background: rgba(0, 0, 0, 0) url("../images/always_grey.png") repeat scroll 0 0;
    position: relative;
}
.background_image-knitted_netting .content-header {
    background: rgba(0, 0, 0, 0) url("../images/knitted-netting.png") repeat scroll 0 0;
    position: relative;
}
.background_image-subtle_zebra_3d .content-header {
    background: rgba(0, 0, 0, 0) url("../images/subtle_zebra_3d.png") repeat scroll 0 0;
    position: relative;
}
.background_image-vaio_hard_edge .content-header {
    background: rgba(0, 0, 0, 0) url("../images/vaio_hard_edge.png") repeat scroll 0 0;
    position: relative;
}
.background_image-wavecut .content-header {
    background: rgba(0, 0, 0, 0) url("../images/wavecut.png") repeat scroll 0 0;
    position: relative;
}
.background_image-wide_rectangles .content-header {
    background: rgba(0, 0, 0, 0) url("../images/wide_rectangles.png") repeat scroll 0 0;
    position: relative;
}
.background_image-escheresque .content-header {
    background: rgba(0, 0, 0, 0) url("../images/escheresque.png") repeat scroll 0 0;
    position: relative;
}
.background_image-white_carbonfiber .content-header {
    background: rgba(0, 0, 0, 0) url("../images/white_carbonfiber.png") repeat scroll 0 0;
    position: relative;
}
.background_image-embossed_paper .content-header {
    background: rgba(0, 0, 0, 0) url("../images/embossed_paper.png") repeat scroll 0 0;
    position: relative;
}
  
.background_image-bg .content-header {
    background: rgba(0, 0, 0, 0) url("../images/bg.png") repeat scroll 0 0;
    position: relative;
}
.content-header {
  background: url(../images/subtle_zebra_3d.png);
  position: relative;
}


.content-header:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #a6a6a6;
  position: absolute;
  z-index: 10;
  bottom: 0;
}

.tabs:before {
  display: none !important;
}

/**
 * Tables.
 */
table {
  border: solid 1px #bfbfba;
}

table th {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  padding: 5px 12px;
  border: solid 1px #bfbfba;
}

table th.select-all input {
  vertical-align: middle;
}

tr.even {
  background-color: #f5f5f5;
}

/* Remove underline. */
th > a:after {
  display: none;
}

/* Revert changes for status report table. */
.system-status-report {
  border: none;
}

.system-status-report th {
  background: none;
  border: none;
}

/**
 * Admin panel.
 */
ul.admin-list li a {
  background: url(../images/bullet.png) no-repeat -1px 16px;
}

.panel {
  box-shadow: 1px 1px 1px #777;
}

/**
 * Messages.
 */
div.messages {
  display: none;
  position: relative;
}

div.view-changed {
  display: block;
}

div.messages .hide-message {
  display: block;
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 18px;
  opacity: .75;
  cursor: pointer;
}

.hide-message:hover {
  opacity: 1;
}

/**
 * Progress bar.
 */
.progress__track {
  background-color: #f5f5f5;
  margin-top: 30px;
}

.progress__bar {
  background-image: url("../images/progress-bar.gif");
  transition: width 1.5s ease-out;
  padding: 0;
  border-color: #777;
}

.progress__description {
  margin-left: 7px;
}

.progress__percentage {
  margin-right: 7px;
}

/**
 * Container settings.
 */
.container-fixed-width .layout-container {
  margin: 0 auto;
}

.container-width-680 .layout-container {
  width: 680px;
}

.container-width-800 .layout-container {
  width: 800px;
}

.container-width-920 .layout-container {
  width: 920px;
}

.container-width-1040 .layout-container {
  width: 1040px;
}

.container-width-1160 .layout-container {
  width: 1160px;
}

.container-width-1280 .layout-container {
  width: 1280px;
}

.container-width-1400 .layout-container {
  width: 1400px;
}

.container-width-1520 .layout-container {
  width: 1520px;
}

.container-width-1640 .layout-container {
  width: 1640px;
}

.container-width-1760 .layout-container {
  width: 1760px;
}

.container-width-1880 .layout-container {
  width: 1880px;
}

/**
 * Throbber.
 */
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../../images/throbber.gif);
  background-position: right .5% center;
}

.js input.throbbing {
  background-position: 99.5% -18px;
}

.ajax-progress .throbber {
  background-image: url(../../images/throbber.gif);
}

/**
 * Buttons.
 */
.button:not(.button--primary):not(.button--danger) {
  background-image: linear-gradient(180deg, #f6f6f6 0px, #f3f3f3 60%, #e6e6e6 60.1%, #d6d6d4 100%);
  border-color: #d9d9d9 #d0d0d0 #a9a9a9;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  letter-spacing: 0.25pt;
  padding: 5px 16px;
  text-shadow: 1px 1px 0 #fff;
}

.button:not(.button--primary):not(.button--danger):hover {
  background-image: linear-gradient(180deg, #f8f8f8 0px, #f0f0f0 60%, #e0e0e0 60.1%, #cacaca 100%);
  color: #212121;
  text-shadow: 1px 1px 0 #fff;
}

.button:not(.button--primary):not(.button--danger):active {
  background-image: linear-gradient(180deg, #f8f8f8 0px, #f0f0f0 60%, #e0e0e0 60.1%, #cacaca 100%);
  border-color: #505050;
  color: #000000;
  text-shadow: 1px 1px 0 #fff;
}

.button:not(.button--primary):not(.button--danger):disabled,
.button:not(.button--primary):not(.button--danger):disabled:hover {
  background: #f3f3f3;
  color: #777;
  text-shadow: none;
}

.button--danger:not(.button--primary):not(.button--danger) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

.button-action {
  background-image: linear-gradient(to bottom, #419ff1, #1076d5);
  border: 1px solid #0048c8;
  border-radius: 4px;
  font-weight: normal;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.button-action:focus,
.button-action:hover {
  background-image: linear-gradient(to bottom, #59abf3, #2a93ef);
  color: #fff;
}

.no-touchevents .button--small {
  padding: 5px 15px;
}

.js .form-actions .dropbutton .dropbutton-action > * {
  color: #333333;
  font-weight: normal;
}

.jvseven-danger {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 0.5em;
  border: solid 1px #1A4575;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ff0000;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.1em;
}

.jvseven-danger:before {
   content: '\f014';
   font-family: fontawesome;
   margin-right: 5px;   
}
a.jvseven-danger:hover {
  text-decoration: underline;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 0.5em;
  border: solid 1px #1A4575;
  background: #ff0000;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.js .dropbutton-widget .dropbutton-action a, .js .dropbutton-widget .dropbutton-action input, .js .dropbutton-widget .dropbutton-action button {
  border-radius: 0.5em 0 0 0.5em;   
}
.js .dropbutton-multiple .dropbutton-widget {
  border-radius: 0.5em;    
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
    border-radius: 0 0.5em 0.5em 0;
}
.js .dropbutton-multiple.open .dropbutton-action:last-child a, .js .dropbutton-multiple.open .dropbutton-action:last-child .button {
    border-radius: 0 0 0 0.5em;
}
.js .dropbutton-multiple.open .dropbutton-action:first-child a {
    border-radius: 0 0 0 0;
}
input#edit-preview.button.js-form-submit.form-submit
{
  border-radius : 0.5em;	
}
/**
 * Install page.
 */
.install-page {
  background: #bfbfba;
}

/**
* Iconography
*/
.icon-green {
  color: Green;
}
.icon-red {
  color: Red;
}
.icon-darkblue {
  color: DarkBlue;
}
.icon-orangered {
  color: OrangeRed;
}
.entity-meta__header .form-item {
  margin: 1em 0;
}
/**
* Patch https://www.drupal.org/node/2873390 for Firefox
*/
details summary {
  display: list-item;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/**
* entity-meta section
*/
.entity-meta details {
  background-color: lightblue;
  margin: 0.3em;  
}
/**
* Navigation - top
*/
.content-header {
  padding: 5px 0 0;
}