/* Base styling for article. */

article {
    background-color: $color_white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    // box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}