/* Styling for structure page. */

.structure-page,
.reports-page,
.admin-page {
    .hidden {
        display: inline-block;
    }
    .page-title {
        margin-bottom: 0;
        border-top: none;
        border-radius: 12px 12px 0 0;
        border-bottom: solid 1px #eee;
        font-weight: bold;
        font-size: 1.6em;
        font-family: "Source Sans Pro Bold";
        font-style: normal;
        background-color: #fbfbfb;
        padding: 15px 20px;
    }
    .admin-list {
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex-row;
        flex-wrap: wrap;
        li {
            width: 19%;
            box-sizing: border-box;
            border: 1px solid #ddd;
            margin: 0 0.5% 2em 0.5%;
            a {
                padding: 30px 20px 50px;
                display: block;
                overflow: hidden;
                position: relative;
                text-align: center;
                &:hover {
                    .structure-wrap {
                        top: 0;
                        opacity: 1;
                    }
                }
            }
        }
        .structure-wrap {
            // opacity: 0;
            height: 100%;
            width: 100%;
            left: 0;
            color: $color_white;
            background: $color_links;
            position: absolute;
            box-sizing: border-box;
            padding: 5px 15px 15px 15px;
            top: 75%;
            transition: 0.3s all ease;
            .description {
                color: $color_white;
            }
            .label {
                font-size: 1em;
                line-height: 1;
            }
        }
        i {
            font-size: 2em;
            color: $color_links;
        }
    }
}
.admin-page {
    .page-title {
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
    }
    .primary-tabs {
        margin-top: -40px;
    }
}