/* Styling for User forms */

.user-form {
    @extend .bg-white;
    input[type="text"],
    .system-modules .form-search,
    textarea,
    input[type="email"],
    input[type="password"] {
        max-width: 460px;
    }
    .form-item-contact {
        flex-direction: column;
    }
    #edit-timezone {
        border-bottom: solid 1px $color_background - 30;
    }
    .form-actions {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.js-form-type-password-confirm {
    > .flex-row-wrap {
        display: block;
    }
    .password-strength {
        margin-left: 1em;
    }
    .password-strength__title {
        font-size: 0.85em;
    }
}