/* Styling for views */

.js {
     .views-displays {
        .dropbutton-widget {
            .dropbutton-action {
                a {
                    padding: 4px 1.5em;
                }
            }
        }
    }
}
.views-ui-display-tab-bucket {
    > .views-display-setting {
        padding: 6px;
    }
}
.views-ui-display-tab-actions,
.views-display-top {
    @include flex-row;
    flex-direction: row-reverse;
    justify-content: space-between;
    &:after {
        display: none;
    }
}
.view-preview-form .form-item-live-preview {
    top: 13px;
}
.views-admin {
    background: $color_white;
    .form-actions {
        margin-bottom: 0;
    }
    .unit-title {
        background-color: $color_background;
    }
    .dropbutton-wrapper {
        // top: 0;
        // right: 0;
    }
    .dropbutton-arrow {
        border-width: 0.29em 0.29em 0;
    }
}
#views-display-menu-tabs {
    list-style: none;
}
.actions-wrap {
    display: flex;
    justify-content: space-between;
}
.views-displays {
    .tabs {
        .action-list {
            li {
                background-color: $color_menu + 30;
                &:hover {
                    background-color: $color_menu - 10;
                }
            }
        }
    }
}